html,
body {
    margin: 0;
    padding: 0;
}

ul,
li,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

header {
    background: #dd4814;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

nav {
    width: 70%;
    height: 64px;
    line-height: 64px;
    color: #fff;
    margin: 0 auto;
}

nav a {
    color: #fff;
    font-size: 18px;
}

.tc {
    text-align: center;
}

div.container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}

div.panel {
    transition: box-shadow .25s;
    padding: 24px;
    margin: 10px 0 20px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card {
    margin: 10px 0 20px 0;
    background-color: #546e7a;
    transition: box-shadow .25s;
    border-radius: 2px;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card .state {
    padding: 24px 24px 0 24px;
}

.card .form {
    margin-top: 10px;
    padding: 0 24px 24px 24px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.card .form input#post {
    float: left;
    display: block;
    box-sizing: border-box;
    width: 60%;
    /* margin: 0 auto; */
    border: none;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #595959;
    font-size: 14px;
    font-weight: 500;
}

.card .form span {
    display: block;
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: background 1s;
    background: #00A388;
    color: #FFF;
}

.card .form span:hover {
    transition: background 1s;
    background: #79BD8F;
}

.card .form select {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    text-indent: 10px;
}

.card .detail {
    padding: 24px;
}

.card .detail .content {
    margin-bottom: 10px;
    display: none;
}

.card .detail .content .listHeader {
    font-size: 15px;
    color: #fff;
    background: #ea6153;
    font-weight: 900;
}

.card .detail .content ul li {
    font-size: 14px;
    background: #f6f6f6;
    color: #3b3b3b;
}

.card .detail .content ul li.odd {
    background: #e9e9e9;
}

.card .detail .content ul li p {
    height: 30px;
    line-height: 30px;
}

.card .detail .content .left {
    display: block;
    float: left;
    width: 70%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 4px;
}

.card .detail .content .right {
    display: block;
    float: left;
    width: 30%;
    height: 30px;
    line-height: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background: #dd4814;
}

div.footerText {
    width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
    overflow: hidden;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
}

#msg {
    display: none;
    position: absolute;
    left: 50%;
    top: 45%;
    /* width: 40%; */
    padding: 10px 40px;
    transform: translate(-50%, -45%);
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

@media (max-width:828px) {
    div.container,
    nav {
        width: 90%;
    }
    nav {
        text-align: center;
    }
    div.panel {
        padding: 10px;
    }
    .card .state {
        padding: 20px 10px 10px 10px;
    }
    .card .state p {
        font-size: 14px;
    }
    .card .form {
        margin-top: 0;
        padding: 10px;
    }
    .card .form input#post {
        width: 70%;
    }
    .card .form span {
        width: 30%;
    }
    .card .form select {
        margin-top: 10px;
        width: 100%;
    }
    .card .detail {
        padding: 10px;
    }
    .card .detail .tips p {
        font-size: 14px;
    }
    footer div.footerText {
        width: 90%;
        min-height: 25px;
        line-height: 25px;
    }
    #msg {
        font-size: 14px;
    }
}